
<div class="container">
  <div class="row py-vh-3  d-flex justify-content-center">
    <div class="col-12 col-lg-8 text-center">
      <div>
      <img src="{{ '/img/hkimg.png' | url }}" alt="Holger Koenemann, UX Designer and Frontend Engineer gtom Hannover, Germany" width="80" height="80" class="ms-auto gradient-rounded" />
    </div>
            <p class="lead"><h3 class="display-6">If you have questions, need <mark>support</mark> or just want to say "hi" follow me on <a href="https://twitter.com/holger1411" class="link-fancy">Twitter</a> and send me a DM.</h3></p>
    </div>
  </div>
</div>

<script src="{{ '/js/bootstrap.bundle.min.js' | url }}"></script>
