---
layout: layouts/blank.njk
---

<div class="container py-vh-5 pb-0">
  <div class="row py-vh-4 pt-0">
    <div class="col-12">
      <a class="navbar-brand pe-4 fw-bold text-dark mb-5 d-block" href="{{ '/' | url }}">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-layers-half" viewbox="0 0 16 16">
      <path d="M8.235 1.559a.5.5 0 0 0-.47 0l-7.5 4a.5.5 0 0 0 0 .882L3.188 8 .264 9.559a.5.5 0 0 0 0 .882l7.5 4a.5.5 0 0 0 .47 0l7.5-4a.5.5 0 0 0 0-.882L12.813 8l2.922-1.559a.5.5 0 0 0 0-.882l-7.5-4zM8 9.433 1.562 6 8 2.567 14.438 6 8 9.433z"/>
    </svg>
    <span class="ps-2">TemplateDeck</span>
  </a>
    </div>
    <div class="col-12 col-lg-8">

      <h1 class="display-6 mb-4">
        Welcome to TemplateDeck! A tiny little corner of the internet where you can get handcrafted & <mark>free</mark> Bootstrap 5 <mark>HTML</mark> templates!

      </h1>
      <svg viewBox="0 0 29 107" xmlns="http://www.w3.org/2000/svg" style="width:20px;">
              <path d="M15.425 106.639l13.116-12.42c.55-.446.615-1.23.144-1.751a1.363 1.363 0 0 0-1.993 0l-10.887 10.296V1.242C15.805.556 15.218 0 14.493 0c-.724 0-1.311.556-1.311 1.242v101.522L2.308 92.468a1.363 1.363 0 0 0-1.85-.136 1.197 1.197 0 0 0 0 1.887l13.117 12.42a1.364 1.364 0 0 0 1.85 0z" fill="#000" fill-rule="evenodd"></path>
            </svg>
  <!--<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M5 14L12 21L19 14" stroke="black" stroke-miterlimit="10"/>
      <path d="M12 21V2" stroke="black" stroke-miterlimit="10"/>
    </svg>-->
  </div>

</div>
</div>
<div class="position-relative py-vh-3 bg-gray-300">
  <div class="container position-relative">
    <div class="row justify-content-between d-flex align-items-stretch py-vh-2 g-5">

<div class="col-6">
<div class="card rounded-4 border-0 shadow p-0 pb-0 overflow-hidden" >
  <div class="verflow-hidden bg-black">
  <a href="{{ '/pages/stride' | url }}" class="hover-o-50 p-0"><img src="{{ '/img/stride.jpg' | url }}" class="card-img-top p-0" alt="Stride - Simple HTML and Bootstrap 5 template for free" width="584" height="659"></a>
</div>
  <div class="card-body p-5 text-center border-top">
    <h2 class="card-title h5">Stride - Startup Landingpage Template</h5>
    <p class="card-text">A simple but clean and well crafted startup starter template.</p>
    <a href="{{ '/pages/stride' | url }}" class="link-fancy py-2">Check out Stride</a>
  </div>
</div>
</div>
<div class="col-6">
<div class="card rounded-4 bg-transparent p-5 d-flex align-items-center border-0" >
  <div class="card-body p-5 text-center">
    <p class="h2 display-4">?</p>
    <h2 class="card-title">Coming soon</h3>
    <p class="card-text lead">I will release some more free HTML templates soon. Follow me on Twitter to get notified!</p>
    <a href="https://twitter.com/holger1411" class="link-fancy py-3">Follow me on Twitter</a>
  </div>
</div>
</div>
    </div>
  </div>
</div>
